root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.cs]
indent_size = 4
insert_final_newline = false

[{*.html,*.jte,*.kte,*.jinja}]
indent_size = 4
insert_final_newline = false
max_line_length = off

[*.java]
indent_size = 4
insert_final_newline = false

[*.json]
insert_final_newline = false

[{*.kt,*.kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_packages_to_use_import_on_demand = unset
indent_size = 4
ktlint_code_style = ktlint_official
ktlint_standard = enabled
ktlint_experimental = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_function_signature_body_expression_wrapping = multiline
max_line_length = 140

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.py]
indent_size = 4

[{*.xml,*.xsd}]
indent_size = 4
insert_final_newline = false
max_line_length = off
