{% from "components/chart.jinja" import chart %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Weatherdan</title>
  <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="/static/img/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
</head>
<body class="has-navbar-fixed-top">
{% include "components/navbar.jinja" %}
<main class="section">
  <div class="container">
    <header class="block has-text-centered">
      <h1 class="title is-1">Current UV Index</h1>
    </header>
    <section class="section">
      <div class="columns is-centered is-multiline">
        <div class="column is-full">
          {{ chart(label="Daily Stats", id="daily-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="Weekly Stats", id="weekly-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="Monthly Stats", id="monthly-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="Yearly Stats", id="yearly-stats") }}
        </div>
      </div>
    </section>
  </div>
</main>
{% include "components/footer.jinja" %}
<script src="https://cdn.jsdelivr.net/npm/jquery@^3.6" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@^4.2" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2.29" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1.0" type="text/javascript"></script>
<script src="/static/js/bulma-navbar.js" type="text/javascript"></script>
<script src="/static/js/scripts.js" type="text/javascript"></script>
<script src="/static/js/uv-index.js" type="text/javascript"></script>
<script type="text/javascript">
  ready(function() {
    loadUVIndexStats("Daily", "daily-stats");
    loadUVIndexStats("Weekly", "weekly-stats");
    loadUVIndexStats("Monthly", "monthly-stats");
    loadUVIndexStats("Yearly", "yearly-stats");
  });
  ready(function() {
    let caller = "loading";

    addLoading(caller);
    fetch("/api/uv-index", {
      method: "PUT",
      headers: headers,
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      if (response.status != 208)
        window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  });
</script>
</body>
</html>
