{% from "components/forms.jinja" import input_date, input_number %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Weatherdan</title>
  <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="/static/img/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
</head>
<body class="has-navbar-fixed-top">
{% include "components/navbar.jinja" %}
<main class="section">
  <div class="container">
    <header class="block has-text-centered">
      <h1 class="title is-1">Editor</h1>
    </header>
    <section class="section">
      <div class="columns is-centered is-multiline">
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Settings</h5>
            <form id="settings-form" onsubmit="return false;">
              {{ input_number(label="Max Entries", name="count", value=count) }}
              <div class="buttons is-centered">
                <button class="button is-info" id="save-settings-button" onclick="saveSettings()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-floppy-disk"></i>
                  </span>
                  <span>Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Add Rainfall</h5>
            <form id="add-rainfall-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              {{ input_number(label="Rainfall (mm)", name="value") }}
              <div class="buttons is-centered">
                <button class="button is-success" id="add-rainfall-button" onclick="addRainfall()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-add"></i>
                  </span>
                  <span>Add</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Remove Rainfall</h5>
            <form id="remove-rainfall-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              <div class="buttons is-centered">
                <button class="button is-danger" id="remove-rainfall-button" onclick="removeRainfall()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-minus"></i>
                  </span>
                  <span>Remove</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Add Temperature</h5>
            <form id="add-temperature-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              {{ input_number(label="High (°C)", name="high") }}
              {{ input_number(label="Low (°C)", name="low") }}
              <div class="buttons is-centered">
                <button class="button is-success" id="add-temperature-button" onclick="addTemperature()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-add"></i>
                  </span>
                  <span>Add</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Remove Temperature</h5>
            <form id="remove-temperature-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              <div class="buttons is-centered">
                <button class="button is-danger" id="remove-temperature-button" onclick="removeTemperature()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-minus"></i>
                  </span>
                  <span>Remove</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Add Humidity</h5>
            <form id="add-humidity-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              {{ input_number(label="High (°C)", name="high") }}
              {{ input_number(label="Low (°C)", name="low") }}
              <div class="buttons is-centered">
                <button class="button is-success" id="add-humidity-button" onclick="addHumidity()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-add"></i>
                  </span>
                  <span>Add</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
          <div class="box">
            <h5 class="title is-5 has-text-info-light">Remove Humidity</h5>
            <form id="remove-humidity-form" onsubmit="return false;">
              {{ input_date(label="Datestamp", name="datestamp") }}
              <div class="buttons is-centered">
                <button class="button is-danger" id="remove-humidity-button" onclick="removeHumidity()" type="button">
                  <span class="icon">
                    <i class="fa-solid fa-minus"></i>
                  </span>
                  <span>Remove</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% include "components/footer.jinja" %}
<script src="/static/js/bulma-navbar.js" type="text/javascript"></script>
<script src="/static/js/scripts.js" type="text/javascript"></script>
<script type="text/javascript">
  ready(function() {
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0');
    let yyyy = today.getFullYear();
    document.getElementsByName("datestamp").forEach(function(element) {
      element.value = `${yyyy}-${mm}-${dd}`
    });
  });
  function saveSettings() {
    const caller = "save-settings-button";
    addLoading(caller);
    let form = document.getElementById("settings-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    document.cookie = `weatherdan_count=${formData['count']};path=/;max-age=${60*60*24*30};SameSite=Strict`;
    removeLoading(caller);
    window.location.reload();
  }
  function addRainfall() {
    const caller = "add-rainfall-button";
    let form = document.getElementById("add-rainfall-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/rainfall", {
      method: "POST",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
        "value": formData["value"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
  function removeRainfall() {
    const caller = "remove-rainfall-button";
    let form = document.getElementById("remove-rainfall-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/rainfall", {
      method: "DELETE",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
  function addTemperature() {
    const caller = "add-temperature-button";
    let form = document.getElementById("add-temperature-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/temperature", {
      method: "POST",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
        "high": formData["high"],
        "low": formData["low"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
  function removeTemperature() {
    const caller = "remove-temperature-button";
    let form = document.getElementById("remove-temperature-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/temperature", {
      method: "DELETE",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
  function addHumidity() {
    const caller = "add-humidity-button";
    let form = document.getElementById("add-humidity-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/humidity", {
      method: "POST",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
        "high": formData["high"],
        "low": formData["low"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
  function removeHumidity() {
    const caller = "remove-humidity-button";
    let form = document.getElementById("remove-humidity-form");
    let formData = Object.fromEntries(new FormData(form));
    console.log(formData);

    addLoading(caller);
    fetch("/api/humidity", {
      method: "DELETE",
      headers: headers,
      body: JSON.stringify({
        "datestamp": formData["datestamp"],
      }),
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      form.reset();
      window.location.reload();
    }).catch((response) => response.json().then((msg) => {
      alert(`${response.status} ${response.statusText} => ${msg.details}`);
    })).finally(() => removeLoading(caller));
  }
</script>
</body>
</html>
