{% extends "base.jinja" %}
{% from "components/forms.jinja" import number_input %}
{% from "components/chart.jinja" import chart %}
{% block title %}Filtered{% endblock %}
{% block sidebar %}
  <div class="box">
    <h5 class="title is-5 has-text-info-light">Settings</h5>
    <form accept-charset="UTF-8" action="/filtered" method="GET">
      {{ number_input(label="Maximum Entries", name="maximum", value=count) }}
      <div class="field">
        <label class="label has-text-info">Select Year</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="year">
              <option value="0"{% if not year %} selected{% endif %}>Year Select</option>
              {% for _year in year_list %}
                <option value="{{ _year }}"{% if _year == year %}selected{% endif %}>{{ _year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% if year %}
      <div class="field">
        <label class="label has-text-info">Select Month</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="month">
              <option value="0"{% if not month %} selected{% endif %}>Month Select</option>
              {% for _month in month_list %}
                <option value="{{ _month }}"{% if _month == month %}selected{% endif %}>{{ _month }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="buttons is-centered">
        <button class="button is-info">
          <span class="icon">
            <i class="fa-solid fa-filter"></i>
          </span>
          <span>Filter</span>
        </button>
      </div>
    </form>
  </div>
{% endblock %}
{% block list_content %}
  {% if month %}
    {{ chart(label="Daily Stats", id="daily-stats") }}
    {{ chart(label="Weekly Stats", id="weekly-stats") }}
  {% endif %}
  {% if year %}
    {{ chart(label="Monthly Stats", id="monthly-stats") }}
  {% endif %}
  {{ chart(label="Yearly Stats", id="yearly-stats") }}
{% endblock %}
{% block js %}
<script type="text/javascript">
ready(function() {
  {% if month %}
    loadDailyStats({{ count }});
    loadWeeklyStats({{ count }});
  {% endif %}
  {% if year %}
    loadMonthlyStats({{ count }});
  {% endif %}
  loadYearlyStats({{ count }});
});
</script>
{% endblock %}
