<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Weatherdan</title>
	<!--<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">-->
	<link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">
	<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', path='/favicon.ico') }}" id="favicon" rel="icon" type="image/x-icon">
	<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item icon-text" href="/Weatherdan/latest">
      <span class="icon is-large">
        <ion-icon name="time-outline"></ion-icon>
      </span>
      <span>Latest</span>
    </a>
    <a class="navbar-item icon-text" href="/Weatherdan/filtered">
      <span class="icon is-large">
        <ion-icon name="filter-outline"></ion-icon>
      </span>
      <span>Filtered</span>
    </a>
  </div>
</nav>
<section class="section">
  <div class="container is-fluid">
    <h1 class="title is-1 has-text-centered">Weatherdan</h1>
    <div class="columns is-multiline is-centered">
      {% if yearSelected %}
        {% if monthSelected %}
          <div class="column is-narrow">
            <div class="box has-text-light has-background-dark">
              <h2 class="subtitle is-2">Daily Stats</h2>
              <div class="chart-container">
                <canvas id="daily-stats" height="375" width="750"></canvas>
              </div>
            </div>
          </div>
          <div class="column is-narrow">
            <div class="box has-text-light has-background-dark">
              <h2 class="subtitle is-2">Weekly Stats</h2>
              <div class="chart-container">
                <canvas id="weekly-stats" height="375" width="750"></canvas>
              </div>
            </div>
          </div>
        {% endif %}
	    <div class="column is-narrow">
	      <div class="box has-text-light has-background-dark">
	        <h2 class="subtitle is-2">Monthly Stats</h2>
	        <div class="chart-container">
	          <canvas id="monthly-stats" height="375" width="750"></canvas>
	        </div>
	        <div class="buttons is-centered">
		      {% for month in monthsAvailable %}
		        <button {% if monthSelected == month %}disabled {% endif %}class="button is-info" onclick="setMonth({{ month }})">{{ month }}</button>
		      {% endfor %}
		    </div>
		    {% if monthSelected %}
		    <div class="buttons is-centered">
		      <button class="button is-danger is-fullwidth" onclick="setMonth(0)">Clear</button>
		    </div>
		    {% endif %}
	      </div>
	    </div>
	  {% endif %}
	  <div class="column is-narrow">
	    <div class="box has-text-light has-background-dark">
          <h2 class="subtitle is-2">Yearly Stats</h2>
          <div class="chart-container">
            <canvas id="yearly-stats" height="375" width="750"></canvas>
          </div>
          <div class="buttons is-centered">
		    {% for year in yearsAvailable %}
		      <button {% if yearSelected == year %}disabled {% endif %}class="button is-info" onclick="setYear({{ year }})">{{ year }}</button>
		    {% endfor %}
		  </div>
		  {% if yearSelected %}
		  <div class="buttons is-centered">
		    <button class="button is-danger is-fullwidth" onclick="setYear(0)">Clear</button>
		  </div>
		  {% endif %}
        </div>
	  </div>
	</div>
  </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', path='/scripts.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  loadYearlyStats();
  {% if yearSelected %}
    loadMonthlyStats();
    {% if monthSelected %}
      loadWeeklyStats();
      loadDailyStats();
    {% endif %}
  {% endif %}
});
</script>
</body>
</html>
