{% from "components/chart.jinja" import chart %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Weatherdan</title>
  <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/jenil/bulmaswatch/gh-pages/darkly/bulmaswatch.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="/static/img/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
</head>
<body class="has-navbar-fixed-top">
{% include "components/navbar.jinja" %}
<main class="section">
  <div class="container">
    <header class="block has-text-centered">
      <h1 class="title is-1">Dashboard</h1>
    </header>
    <section class="section">
      <div class="columns is-centered is-multiline">
        <div class="column is-full">
          {{ chart(label="Rainfall Stats", id="rainfall-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="Solar Stats", id="solar-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="UV Index Stats", id="uv-index-stats") }}
        </div>
        <div class="column is-full">
          {{ chart(label="Wind Stats", id="wind-stats") }}
        </div>
      </div>
    </section>
  </div>
</main>
{% include "components/footer.jinja" %}
<script src="https://cdn.jsdelivr.net/npm/jquery@^3.7" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@^4.4" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2.29" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1.0" type="text/javascript"></script>
<script src="/static/js/bulma-navbar.js" type="text/javascript"></script>
<script src="/static/js/scripts.js" type="text/javascript"></script>
<script src="/static/js/rainfall.js" type="text/javascript"></script>
<script src="/static/js/solar.js" type="text/javascript"></script>
<script src="/static/js/uv-index.js" type="text/javascript"></script>
<script src="/static/js/wind.js" type="text/javascript"></script>
<script type="text/javascript">
  ready(function() {
    loadRainfallStats("Daily", "rainfall-stats", count=7);
    loadSolarStats("Daily", "solar-stats", count=7);
    loadUVIndexStats("Daily", "uv-index-stats", count=7);
    loadWindStats("Daily", "wind-stats", count=7);
  });
  function refreshReadings(endpoint, previous = []) {
    return fetch(endpoint, {
      method: "PUT",
      headers: headers,
    }).then((response) => {
      if (!response.ok)
        return Promise.reject(response);
      if (response.status != 208)
        previous.push(true);
      else
        previous.push(false);
      return Promise.resolve(previous);
    });
  }
  ready(function() {
    let caller = "loading";

    addLoading(caller);
    refreshReadings("/api/rainfall")
    .then((results) => refreshReadings("/api/solar", results))
    .then((results) => refreshReadings("/api/uv-index", results))
    .then((results) => refreshReadings("/api/wind", results))
    .then((results) => {
      let reload = results.some((x) => {
        return x == true;
      });
      if (reload == true)
        window.location.reload();
    }).catch((response) => {
      response.json().then((msg) => {
        alert(`${response.status} ${response.statusText} => ${msg.details}`);
      });
    }).finally(() => removeLoading(caller));
  });
</script>
</body>
</html>
