{% from "components/forms.jinja" import select_number %}
{% from "components/chart.jinja" import chart %}
<!DOCTYPE html>
<html lang="en-GB" data-theme="villain">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Weatherdan</title>
    <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Buried-In-Code/Vegeta@0.2.0/css/vegeta.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/img/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
</head>
<body class="has-navbar-fixed-top">
{% include "components/navbar.jinja" %}
<main class="section">
    <div class="container">
        <header class="block has-text-centered">
            <h1 class="title is-1">Rainfall</h1>
        </header>
        <div class="columns is-centered">
            <div class="column is-one-quarter-tablet is-one-fifth-fullhd">
                <div class="box has-background-text-soft">
                    <h4 class="title is-4 has-text-text-bold">Filter</h5>
                    <form accept-charset="UTF-8" method="GET">
                        {{ select_number(label="Select Year", name="year", value=year, options=year_list) }}
                        {% if year %}
                            {{ select_number(label="Select Month", name="month", value=month, options=month_list) }}
                        {% endif %}
                        <div class="buttons is-centered">
                            <button class="button is-warning" onclick="resetForm('/rainfall/historical')" type="button">
                                <span class="icon">
                                    <i class="fa-solid fa-rotate"></i>
                                </span>
                                <span>Reset</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="columns is-centered is-multiline">
                    {% if month %}
                        <div class="column is-full">
                            {{ chart(label="Daily Stats", id="daily-stats") }}
                        </div>
                        <div class="column is-full">
                            {{ chart(label="Weekly Stats", id="weekly-stats") }}
                        </div>
                    {% endif %}
                    {% if year %}
                        <div class="column is-full">
                            {{ chart(label="Monthly Stats", id="monthly-stats") }}
                        </div>
                    {% endif %}
                    <div class="column is-full">
                        {{ chart(label="Yearly Stats", id="yearly-stats") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "components/footer.jinja" %}
<script src="https://cdn.jsdelivr.net/npm/jquery@^3.7" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@^4.4" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@^2.29" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1.0" type="text/javascript"></script>
<script src="/static/js/scripts.js" type="text/javascript"></script>
<script src="/static/js/bulma-navbar.js" type="text/javascript"></script>
<script type="text/javascript">
  ready(() => {
    {% if month %}
      loadRainfallStats("Daily", "daily-stats", maxEntries=100);
      loadRainfallStats("Weekly", "weekly-stats", maxEntries=100);
    {% endif %}
    {% if year %}
      loadRainfallStats("Monthly", "monthly-stats", maxEntries=100);
    {% endif %}
    loadRainfallStats("Yearly", "yearly-stats", maxEntries=100);
  });

  ready(() => {
    refreshData("/api/rainfall");
  });
</script>
</body>
</html>
