{% macro chart(label, id) %}
  <div class="box has-text-centered">
    <h3 class="subtitle is-3">{{ label }}</h3>
    <div class="chart-container">
      <canvas height="500" id="{{ id }}" width="750"></canvas>
    </div>
  </div>
{% endmacro %}
