<footer class="footer has-background-dark">
    <div class="columns">
        <div class="column">
            <h3 class="title is-size-3 has-text-light">Contact</h3>
            <div class="block">
                <a class="is-family-primary has-text-link" href="mailto:BuriedInCode@tuta.io" rel="noopener noreferrer" target="_blank">
                    <span class="icon">
                        <i class="fa-solid fa-inbox"></i>
                    </span>
                    <span>Email</span>
                </a>
            </div>
            <div class="block">
                <a class="is-family-primary has-text-link" href="https://github.com/Buried-In-Code/Weatherdan" rel="noopener noreferrer" target="_blank">
                    <span class="icon">
                        <i class="fa-brands fa-github"></i>
                    </span>
                    <span>Github</span>
                </a>
            </div>
            <div class="block">
                <a class="is-family-primary has-text-link" href="https://fosstodon.org/@BuriedInCode" rel="noopener noreferrer" target="_blank">
                    <span class="icon">
                        <i class="fa-brands fa-mastodon"></i>
                    </span>
                    <span>Mastodon</span>
                </a>
            </div>
            <div class="block">
                <a class="is-family-primary has-text-link" href="https://matrix.to/#/#The-Dev-Environment:matrix.org" rel="noopener noreferrer" target="_blank">
                    <span class="icon">
                        <i class="fa-solid fa-message"></i>
                    </span>
                    <span>Matrix</span>
                </a>
            </div>
        </div>
        <div class="column is-narrow">
            <button class="button is-info" onclick="toggleTheme()" type="button">Toggle Theme</button>
        </div>
    </div>
</footer>