<footer class="footer">
  <div class="columns">
    <div class="column is-one-third">
      <h3 class="title is-size-3 has-text-white-bis">Contact Us</h3>
      <div class="is-link icon-text is-size-6">
        <a href="mailto:BuriedInCode@tuta.io" target="_blank">
          <span class="icon is-medium">
            <i class="fa-solid fa-lg fa-inbox"></i>
          </span>
          <span>Email</span>
        </a>
      </div>
      <div class="is-link icon-text is-size-6">
        <a href="https://github.com/Buried-In-Code/Weatherdan" target="_blank">
          <span class="icon is-medium">
            <i class="fa-brands fa-lg fa-github"></i>
          </span>
          <span>Github</span>
        </a>
      </div>
      <div class="is-link icon-text is-size-6">
        <a href="https://fosstodon.org/@BuriedInCode" target="_blank">
          <span class="icon is-medium">
            <i class="fa-brands fa-lg fa-mastodon"></i>
          </span>
          <span>Mastodon</span>
        </a>
      </div>
    </div>
    <div class="column">
      <h3 class="title is-size-3 has-text-white-bis">Built with</h3>
      <div class="block">
        <a href="https://bulma.io">
          <img alt="Built with Bulma" height="32" src="https://bulma.io/assets/Bulma%20Logo%20White.svg" width="128">
        </a>
      </div>
      <div class="block">
        <a href="https://fastapi.tiangolo.com/">
          <img alt="Built with FastAPI" height="32" src="https://fastapi.tiangolo.com/img/logo-margin/logo-teal.png" width="128">
        </a>
      </div>
    </div>
  </div>
</footer>
