{% macro input(label, name, value="") %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" name="{{ name }}" placeholder="{{ label }}" type="text" value="{{ value }}">
    </div>
  </div>
{% endmacro %}



{% macro input_date(label, name, value="") %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" name="{{ name }}" placeholder="{{ label }} (yyyy-mm-dd)" type="text" value="{{ value }}">
    </div>
  </div>
{% endmacro %}



{% macro input_number(label, name, value=0, min=0, max=1000) %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" max="{{ max }}" min="{{ min }}" name="{{ name }}" placeholder="{{ label }}" type="number" value="{{ value or 0 }}">
    </div>
  </div>
{% endmacro %}
