{% macro input(label, name, value="") %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" name="{{ name }}" placeholder="{{ label }}" type="text" value="{{ value }}">
    </div>
  </div>
{% endmacro %}



{% macro input_date(label, name, value="") %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" name="{{ name }}" placeholder="{{ label }}" type="date" value="{{ value }}">
    </div>
  </div>
{% endmacro %}



{% macro input_number(label, name, value=0, min=0, max=1000) %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <input class="input" max="{{ max }}" min="{{ min }}" name="{{ name }}" placeholder="{{ label }}" type="number" value="{{ value or 0 }}">
    </div>
  </div>
{% endmacro %}



{% macro select_number(label, name, value=0, options=[]) %}
  <div class="field">
    <label class="label has-text-info">{{ label }}</label>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select name="{{ name }}" onchange="this.form.submit()">
          <option value="0"{% if not value %} selected{% endif %}>{{ label }}</option>
          {% for entry in options %}
            <option value="{{ entry }}"{% if entry == value %}selected{% endif %}>{{ entry }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
{% endmacro %}
