<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4" href="/" id="navbar-banner">
      <img alt="Logo" width="40px" height="40px" src="/static/img/logo.png" />
      <span>Weatherdan</span>
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item is-size-6" href="/latest">
        <span class="icon is-medium">
          <i class="far fa-lg fa-clock"></i>
        </span>
        <span>Latest</span>
      </a>
      <a class="navbar-item is-size-6" href="/filtered">
        <span class="icon is-medium">
          <i class="fas fa-lg fa-filter"></i>
        </span>
        <span>Filtered</span>
      </a>
    </div>
  </div>
</nav>
