<nav aria-label="main navigation" class="navbar is-fixed-top is-primary" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/img/logo.png" width="32" height="32">
      Weatherdan
    </a>
    <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/latest">
        <span class="icon">
          <i class="fa-solid fa-clock"></i>
        </span>
        <span>Latest</span>
      </a>
      <a class="navbar-item" href="/filtered">
        <span class="icon">
          <i class="fa-solid fa-filter"></i>
        </span>
        <span>Filtered</span>
      </a>
    </div>
  </div>
</nav>
