<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/logo.png" width="32" height="32">
            Weatherdan
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="/rainfall">
                <span class="icon">
                    <i class="fa-solid fa-cloud-rain"></i>
                </span>
                <span>Rainfall</span>
            </a>
            <a class="navbar-item" href="/solar">
                <span class="icon">
                    <i class="fa-solid fa-sun"></i>
                </span>
                <span>Solar</span>
            </a>
            <a class="navbar-item" href="/uv-index">
                <span class="icon">
                    <i class="fa-solid fa-satellite-dish"></i>
                </span>
                <span>UV Index</span>
            </a>
            <a class="navbar-item" href="/wind">
                <span class="icon">
                    <i class="fa-solid fa-wind"></i>
                </span>
                <span>Wind</span>
            </a>
            <a class="navbar-item" href="/editor">
                <span class="icon">
                    <i class="fa-solid fa-sliders"></i>
                </span>
                <span>Editor</span>
            </a>
        </div>
    </div>
</nav>
